@tailwind base;
@tailwind components;
@tailwind utilities;


/* for line numbers */
[class*="language-"] {
	counter-reset: linenumber;
}



span.line{
	display: inline-block;
	width: 100%;
	counter-increment: linenumber;
}

span.line:nth-child(odd){
	background: #f0f0f0;
}

span.line:before{
	content: counter(linenumber);
	font-size: 100%;
	width: 2em;
	display: inline-block;
	font-weight: normal;
	color: black;
	border-right: 1px solid black;
	margin-right: 5px;
	padding-right: 5px;
	text-align: right;
}

#htmlcontainer h1, 
#htmlcontainer h2, 
#htmlcontainer h3, 
#htmlcontainer h4, 
#htmlcontainer h5, 
#htmlcontainer h6 {
    @apply font-bold mb-1;
}

#htmlcontainer h1{
    @apply text-3xl font-bold;
}

#htmlcontainer h2{
    @apply text-2xl;
}

#htmlcontainer h3{
    @apply text-xl;
}

#htmlcontainer h4{
    @apply text-lg;
}

#htmlcontainer p{
    @apply text-base mb-3;
}

#htmlcontainer a{
    @apply text-base underline text-blue-500;
}

#htmlcontainer ul {
    @apply list-disc list-inside ml-5 mb-4;
}

#htmlcontainer ul li{
    @apply list-disc list-inside;
}

#htmlcontainer ol {
    @apply list-decimal list-inside ml-5 mb-4;
}

#htmlcontainer ol li{
    @apply list-decimal list-inside;
}

#htmlcontainer hr {
	@apply my-4 block border border-gray-400;
}

#htmlcontainer sup a {
	@apply text-xs italic text-blue-500;
}

#htmlcontainer code {
	@apply p-1 bg-gray-300 rounded;
}

#htmlcontainer pre {
	@apply block p-3 bg-gray-300 rounded mb-3;
}

#htmlcontainer blockquote {
	@apply block px-3 p-2 bg-gray-300 border border-l-[4px] border-l-gray-400 pl-3 mb-2;
}

#htmlcontainer blockquote p {
	@apply mb-0 text-lg;
}