<%= if (doc != nil) { %>
    <% contentFor("savedData"){ %>
        <%= partial("documents/saved.html", {}) %>
    <% } %>
<% } %>

<div class="grid grid-cols-2 w-full h-full gap-5">
    <div class="flex-grow max-h-[calc(100vh-130px)]">
        <div class="relative h-full bg-white border-2 border-gray-400">
            <textarea 
                class="rounded h-full w-full p-5 h-auto border-0" 

                hx-post="/parse" hx-trigger="keyup changed delay:200ms, change delay:200ms" 
                hx-target="#htmlcontainer" id="MarkdownContent" 
                name="MarkdownContent"><%= content %></textarea>

            <%= partial("copy.html", {
                "message": "✅ Markdown copied to clipboard",
                "targetID": "#MarkdownContent", 
                "class":"absolute cursor-pointer rounded-lg hover:bg-gray-300 top-2 right-2 p-3 bg-gray-200/80",
            }) %>
        </div>
    
    </div>

    <div class="flex-grow-x max-h-[calc(100vh-130px)] border border-gray-400 bg-gray-200 overflow-scroll">
        <div class="relative">
            <div id="htmlcontainer" class="w-full max-h-full h-full rounded p-5 py-5">
                <%= html %>
            </div>
            <%= partial("copy.html", {
                "message": "✅ HTML copied to clipboard",
                "targetID": "#htmlcontainer", 
                "class":"absolute cursor-pointer rounded-lg hover:bg-gray-300 top-2 right-2 p-3 bg-gray-200/80"
            }) %>
        </div>
        
    </div>
        
</div>

