<%= if (doc != nil) { %>
    <% contentFor("savedData"){ %>
        <%= partial("documents/saved.html", {}) %>
    <% } %>
<% } %>

<div class="grid grid-cols-2 w-full h-full gap-5">
    <div class="flex-grow max-h-full relative">
        <textarea 
            class="border-2 border-gray-400 rounded h-full w-full p-5" 
            hx-post="/parse" hx-trigger="keyup changed delay:200ms, change delay:200ms" 
            hx-target="#htmlcontainer" id="MarkdownContent" 
            name="MarkdownContent"><%= content %></textarea>

        <%= partial("copy.html", {
            "message": "✅ Markdown copied to clipboard",
            "targetID": "#MarkdownContent", 
            "class":"absolute cursor-pointer rounded-lg hover:bg-gray-300 top-2 right-2 p-3 bg-gray-200/80",
        }) %>
    </div>

    <div class="flex-grow max-h-full relative">
        <div id="htmlcontainer" class="h-full w-full border border-gray-400 bg-gray-200 rounded p-5"><%= html %></div>
        <%= partial("copy.html", {
            "message": "✅ HTML copied to clipboard",
            "targetID": "#htmlcontainer", 
            "class":"absolute cursor-pointer rounded-lg hover:bg-gray-300 top-2 right-2 p-3 bg-gray-200/80"
         }) %>
    </div>
</div>

