<span class="flex flex-row gap-2">
    <span><a href="<%= documentLink(doc.ID) %>" class="underline"><%= doc.ID %></a></span>
    <input type="hidden" id="DocumentID" name="DocumentID" value="<%= doc.ID %>">
    <span class="hidden" id="documentIDLink"><%= documentLink(doc.ID) %></span>
    <%= partial("copy.html", {
        "message": "✅ Link copied to clipboard",
        "targetID": 
        "#documentIDLink", 
        "class": ""
    }) %>

    <div class="bg-blue-500 p-1 px-2.5 rounded-lg" hx-post="/save" hx-target="#link-container" 
        hx-include="[name='MarkdownContent'], [id='DocumentID']"> 

        Save 
    </div>
</span>